/* Scroll */
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 10px 10px  #e1e3ea;
    }

    .required:after {
        content:" *";
        color: red;
    }

/* Form Element */
    /* Password */
        .toggle-password {
            float: right;
            cursor: pointer;
            margin-right: 10px;
            margin-top: -25px;
        }

/* Table */
    /* Datatable */
        .datatable {
            width: 100%;
        }

        .datatable td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 250px;
        }

/* Auth */
    #auth #auth-left .auth-title{
        font-size: 40px;
    }

    #auth #auth-left .auth-logo{
        margin-bottom: 88px;
    }

/* dashboard */
    .dashboard .summary{
        cursor: pointer;
        transition: all 1s ease;
    }

    .dashboard .value{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dashboard .summary:hover h4{
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
    }

    .stats-icon{
        background-color: #435EBE;
    }

    .stats-icon i{
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
    }
